@import '../variables';

.filter {
  margin-top: 2rem;
  position: relative;
}

.filter__apply {
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(#333, 0), rgba(#333, 1));
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5rem 0;

  @media (min-width: $size--tablet) {
    max-width: 300px;
  }
  @media (min-width: $size--desktop) {
    max-width: 400px;
  }
}
