@import '../variables';

.filter-group {
  display: flex;
  flex-direction: column;

  @media (min-width: $size--tablet) {
    justify-content: space-between;
  }

  .label {
    line-height: 1.25rem;
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .input {
    margin-bottom: 1rem;
  }
}
