@import '../variables';

.filter {
  margin-top: 2rem;
  position: relative;

  .input {
    line-height: 1.5rem;
    border: 1px solid darken($color--primary, 3%);
  }

  hr {
    display: block;
    margin-bottom: 1rem;
  }

  .filter__page-controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  &__filter-group {
    @media (min-width: $size--tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
  }
}
