@import '../variables';

.form-auth {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
}

.form-auth__form {
  max-width: 20rem;
  margin: 0 auto;
  padding: 4rem 0;

  @media (min-width: $size--tablet) {
    padding: 6rem 0;
  }
}

.form-auth__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.form-auth__input-group {
  margin-bottom: 1rem;

  .input--email {
  }

  .input--password {
  }
}

.form-auth__submit-group {
  .submit {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
