@import '../variables';

.form-auth {
  padding: 2rem;
  background: #fff;
}

.form-auth__form {
  max-width: 20rem;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $size--tablet) {
    padding: 6rem 0;
  }
}

.form-auth__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 10vh;

  @media (min-width: $size--tablet) {
    margin-top: 4vh;
  }
}

.form-auth__title {
  font-size: 1.25rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  max-width: 12rem;
}

.form-auth__input-group {
  margin-bottom: 1rem;

  .input--email {
  }

  .input--password {
  }
}

.form-auth__submit-group {
  .submit {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.form-auth__links-group {
  text-align: center;
  padding: 2rem 0;
  opacity: 0.5;
  font-style: italic;
}
