@import '../variables';

.ReactVirtualized__AutoSizer {
  width: 100% !important;
}
.ReactVirtualized__Grid.ReactVirtualized__Table__Grid {
  overflow: scroll !important;
  -webkit-overflow-scrolling: touch;
}

.ReactVirtualized__Table {
  height: 100%;
  font-size: 0.8rem;
  overflow: scroll !important;
  -webkit-overflow-scrolling: touch;
}

.ReactVirtualized__Table__row,
.ReactVirtualized__Table__headerRow {
  display: grid;
  grid-template-columns: 500px 400px 200px 160px 360px 180px 250px 250px 300px;
  text-align: left;
  background: #fff;
  white-space: nowrap;
  overflow: hidden !important;
}

.ReactVirtualized__Table__headerRow {
  overflow-x: hidden !important;
  overflow-y: visible !important;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 10000;
  position: relative;
  box-shadow: 0 2px 2rem 0 rgba(#000, 0.05);
}

.ReactVirtualized__Table__row {
  border-bottom: 1px dashed #ddd;

  &:hover {
    background: rgba($color--primary, 0.05);
  }
}

.ReactVirtualized__Table__headerColumn {
  display: flex;
  padding: 0.2rem 1rem 0.1rem 1rem;
  align-items: center;
  border-right: 1px solid #ddd;
  font-weight: 700;

  &:last-child {
    border-right: 0;
  }
}

.ReactVirtualized__Table__rowColumn {
  padding: 0.55rem 1rem 0.45rem 1rem;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  border-right: 1px dashed #eee;

  &:last-child {
    border-right: 0;
  }
}

.ReactVirtualized__Table__sortableHeaderIcon {
  fill: $color--primary;
}
