@import '../variables';

$color--floating-bg: rgb(240, 255, 250);
$color--floating: rgb(85, 85, 85);

.menu-toggle {
  align-items: center;
  background: $color--primary;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 2rem 0 rgba(#333, 0.4);
  border: 2px solid $color--primary;
  color: #fff;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  height: 4rem;
  justify-content: center;
  letter-spacing: 0.15rem;
  padding-top: 2px;
  position: fixed;
  right: 1rem;
  text-transform: uppercase;
  top: 1rem;
  width: 4rem;
  z-index: 100000;
  @media (max-width: $size--tablet - 1) {
  }
}
