@import '../variables';

.sidebar {
  width: 100%;
  flex: 1 0 auto;
  background: $color--primary;
  color: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 200;

  &__container {
    padding: 1rem;
    padding-bottom: 10rem;
    max-width: 400px;
    margin: 0 auto;
  }

  @media (max-width: $size--tablet - 1px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  @media (min-width: $size--tablet) {
    border-left: 1px solid #ddd;
    max-width: 360px;
  }
  @media (min-width: $size--desktop) {
    max-width: 400px;
  }

  .title {
    max-width: 10rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .text {
    max-width: 16rem;
  }

  hr {
    border-color: rgba(#fff, 0.3);
  }

  .button--outline {
    color: #fff;
    border-color: rgba(#fff, 0.5);
    padding: 1rem 1rem 0.8rem 1rem;
    margin: 0.5rem 0;

    &:hover {
      background: rgba(#fff, 0.3);
    }
  }

  .button--logout {
    &:hover {
      border-color: rgba($color--danger, 0.5);
      background: $color--danger;
      color: white;
    }
  }

  .apply-filter {
    position: fixed;
    background: linear-gradient(180deg, darken($color--primary, 10%), rgba($color--primary, 0)); 
    // background: red;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.75rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    z-index: 100000000;

    @media (min-width: $size--tablet) {
      left: calc(100vw - 360px);
      max-width: 360px;
      padding: 1rem;
      padding-bottom: 3rem;
    }
    @media (min-width: $size--desktop) {
      left: calc(100vw - 400px);
      max-width: 400px;
    }

    .button--success {
      background: $color--success;
      border: 2px solid darken($color--success, 3%);
      padding: 0.7rem 2rem 0.55rem 2rem;
      color: #fff;

      @media (min-width: $size--tablet) {
        padding: 1rem 2rem 0.8rem 2rem;
      }

      &:hover {
        background: darken($color--success, 15%);
        border-color: darken($color--success, 0%);
        color: #fff;
        box-shadow: none;
      }
    }
  }
}

.sidebar__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}