@import '../variables';

.sidebar {
  width: 100%;
  flex: 1 0 auto;
  background: $color--primary;
  color: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 200;

  &__container {
    padding: 1rem;
    padding-bottom: 10rem;
    max-width: 400px;
    margin: 0 auto;
  }

  @media (max-width: $size--tablet - 1px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  @media (min-width: $size--tablet) {
    border-left: 1px solid #ddd;
    max-width: 300px;
  }
  @media (min-width: $size--desktop) {
    max-width: 400px;
  }

  .title {
    max-width: 10rem;
  }

  .text {
    max-width: 16rem;
  }

  hr {
    border-color: rgba(#fff, 0.3);
  }

  .button--outline {
    color: #fff !important;
    border-color: rgba(#fff, 0.5);

    &:hover {

    }
  }
}

.sidebar__actions {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  padding: 1rem;
}
