@import 'variables';
@import 'animation';

// https://hackernoon.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) .ReactVirtualized__Grid,
body:not(.user-is-tabbing) .ReactVirtualized__Table__Grid,
body:not(.user-is-tabbing) .ReactVirtualized__Table__headerColumn {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

html,
body {
  margin: 0;
}

html,
body,
.content,
.app,
.app__container {
  @media (min-width: $size--tablet) {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.075rem;
  font-weight: 400;
  line-height: 1rem;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  &.is-sidebar-open {
    background: $color--primary;
  }
}

.app {
  &.no-auth {
    overflow-y: scroll !important;
  }

  .list-wrap {
    background: #fff;
    min-height: 100%;
  }

  &.has-sidebar {
    .apply-filter {
      display: block;
    }

    @media (max-width: $size--tablet - 1px) {
      .list-wrap {
        display: none;
      }
    }
  }
}

.app__container {
  background: #fafafa;
  color: #333;

  @media (min-width: $size--tablet) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  letter-spacing: 0.1rem;
  font-weight: 700;
}

b {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px dashed rgba(#000, 0.2);
}

.content {
  z-index: 1000;
  overflow: scroll !important;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  opacity: 0.5;
}

.input {
  width: 100%;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  outline: 0;
  border-radius: 0.25rem;
  -webkit-appearance: none;

  color: darken($color--primary, 15%);

  $color--placeholder: rgba(#333, 0.3);

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color--placeholder;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color--placeholder;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $color--placeholder;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color--placeholder;
  }
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background: #fff;
  position: relative;
  color: darken($color--primary, 15%);

  &::-ms-expand {
    display: none;
  }
}

.select-custom {
  position: relative;

  .select {
    width: 100%;
  }

  &::after {
    position: absolute;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 1rem;
    transform: translateY(-30%);
    border: 6px solid transparent;
    border-color: darken($color--primary, 15%) transparent transparent
      transparent;
  }
}

.icon {
  display: block;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(#fff, 0.9);
  flex-direction: column;
  text-align: center;
  line-height: 1.5rem;
  z-index: 8000;

  .icon {
    margin-top: 6rem;
  }

  .text {
    margin-top: 2rem;
    @media (min-width: $size--tablet) {
      margin-top: 3rem;
    }
  }
}

.loader {
  position: fixed;
  top: 64px;
  z-index: 2000;

  .icon {
    margin-top: calc(6rem - 64px);
  }

  @media (min-width: $size--tablet) {
    top: 80px;

    .icon {
      margin-top: calc(6rem - 80px);
    }
  }
}
